<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
		<listener class-name="Using_TestNG_Listeners.ITestListenerClass" />
	</listeners>
  <test  name="Test1">
    <classes>
      <class name="Using_TestNG_Listeners.TestCLass">
		  <methods>
			  <include name="TestGoogle"/>
		  </methods>
		  </class>
    </classes>
  </test>
  
   <test  name="Test2">
    <classes>
      <class name="Using_TestNG_Listeners.TestCLass">
		  <methods>
			  <include name="TestFacebook"/>
		  </methods>
		  </class>
    </classes>
  </test>
  
   <test thread-count="5" name="Test3">
    <classes>
      <class name="Using_TestNG_Listeners.TestCLass">
		  <methods>
			  <include name="TestOrangeHRM"/>
		  </methods>
		  </class>
    </classes>
  </test>
</suite> <!-- Suite -->
